html {
  height: 100%;
}

body {
  height: 100%;
  background-color: blue;
  background-color: #00BFFF;
}

#drumPadContain {
  height: 100%;
}

#header {
  display: flex;
  justify-content: center;
  color: orange;
  color: #FF580F;
  margin-bottom: 5em;
  text-decoration: underline;
}

#display {
  display: flex;
  justify-content: center;
}

input {
  height: 1.5em;
  width: 15em;
  border: solid;
  border-color: orange;
  border-color: #FF580F;
  pointer-events: none;  
  text-align: center;
  font-size: 1.5em;
  color: #FF580F;
  background-color: white;
}

#drumKeys {
  height: 100%;
  padding-bottom: 15em;
  position: relative;
  top: 0.5em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.drum-pad {
  padding-right: 2em;
  padding-left: 2em;
  color: white;
  border: solid;
  border-width: 0.25em;
  height: 5.9em;
  width: 3em;
  text-align: center;
  background-color: orange;
  background-color: #FF580F;
  cursor: pointer;
}

h1 {
  pointer-events: none;
}

#footer {
  position: relative;
  text-align: center;
  margin-top: -3em;
  color: orange;
  color: #FF580F;
}


